.container {
  width: 100%;
  height: auto;
}

.containerWraper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.listContainer {
  display: flex;
  gap: 10px;
}

.list {
  width: 25px;
  height: 25px;
  background-color: #4e73df;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: white;
  border-radius: 3px;
  /* box-shadow: 2px 2px 2px 2px; */
  cursor: pointer;
}

.active {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  /* background: linear-gradient(145deg, #ffff, #ffff); */
  /* background-color: rgba(0, 0, 0, 0);
  color: white; */
  border: 2px solid var(--text-color);
}
