.userCol1 {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px;
}

.userCol2 {
  width: 100%;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  overflow-y: auto;
  position: relative;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-content: center;
  align-items: center;
}

/* .addButton {
  width: 100px;
  height: 30px;
}

.button {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: gray;
  color: white;
  cursor: pointer;
  border-color: white;
} */

.button {
  height: 40px;
  width: 140px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #405fcb;
  color: #fff;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: white;
  color: #222;
}

.userCol3 {
  width: 100%;
  overflow-x: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.userTitle {
  font-size: 1.5rem;
}
table {
  border-collapse: collapse;
  width: 100%;
  min-width: 600px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
  height: 40px;
}

th {
  background-color: #4465d1 !important;
  font-weight: 600;
  color: var(--text-color);
}

.confirmBox {
  position: absolute;
  width: 250px;
  height: 100px;
  border: 1px solid gray;
  left: 40%;
  top: 30%;
  background-color: #4465d1;
  padding: 1.5rem;
  border-radius: 5px;
  color: white;
}

.confirmButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.addUser {
  width: 500px;
  height: 60vh;
  position: absolute;
  top: 20%;
  z-index: 1000;
  left: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 2rem;
  z-index: 1000;
}

.aaddUserContainerr {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 4 5px;
  margin-top: 2rem;
}

.userAddWrapper {
  width: 100%;
}
.pagination {
  width: 100%;
}

.userWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}
.title {
  font-size: 1.2rem;
  color: var(--title-color);
}

.cancelButton {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitButton {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.paginationWraper {
  display: flex;
  flex-wrap: 1;
  flex-grow: 1;
  justify-content: end;
  gap: 1rem;

  justify-items: center;
  align-items: center;
  align-content: center;
}

.input {
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.input:focus {
  outline: none;
  border-color: #346770;
  box-shadow: 0 0 0 2px rgba(52, 103, 112, 0.2);
}

.userAddButton {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.paginationList {
  display: flex;
  gap: 5px;
}

.link {
  height: 30px;
  width: 30px;
  border-radius: 2px;
  background-color: #4465d1;
  color: black !important;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.paginationLink {
  text-decoration: none;
}

.isCurrent {
  color: white;
}
