:root {
  --card-bg: linear-gradient(145deg, #4e73df, #3751be);
  --text-color: #ffffff;
  --title-color: #222;
  --font-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.productCol1 {
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px;
}

/* .boxShowBackground {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 100; 
  display: flex;
  justify-content: center;
  align-items: center;
} */

.baxShowBackground {
  z-index: 100;

}

.productCol2 {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  overflow-y: auto;
  margin-top: -1.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
}

.productCol3 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}

.button {
  height: 40px;
  width: 140px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #405fcb;
  color: #fff;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: white;
  color: #222;
}

.productCol4 {
  width: 100%;
  overflow-x: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}
thead {
  background-color: #4465d1 !important;
}
td,
th {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}

tr:nth-child(even) {
  color: var(--text-color);
}

th {
  background-color: #4465d1 !important;
  font-weight: 600;
  color: var(--text-color);
}

.confirmBox {
  position: absolute;
  width: 250px;
  height: 100px;
  border: 1px solid gray;
  left: 35%;
  top: 20%;
  background-color: #4465d1;
  padding: 1.5rem;
  border-radius: 5px;
  color: white;
}

.confirmButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.addProductCol1 {
  width: 500px;
  height: 60vh;
  position: absolute;
  top: 20%;
  z-index: 1000;
  left: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 2rem;
  z-index: 1000;
}

.productCol1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 4 5px;
  margin-top: 2rem;
}

.boxTitle {
  font-size: 1.2rem;
  color: var(--title-color);
}

.addProductCol2 {
  width: 100%;
}

.addProductCol3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.input {
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.input:focus {
  outline: none;
  border-color: #346770;
  box-shadow: 0 0 0 2px rgba(52, 103, 112, 0.2);
}


.addProductButton {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.prvFile {
  width: 130px;
  height: 100px;
}

.cancelButton {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitButton {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination {
  width: 100%;
}

.paginationWraper {
  display: flex;
  flex-wrap: 1;
  flex-grow: 1;
  justify-content: end;
  gap: 1rem;

  justify-items: center;
  align-items: center;
  align-content: center;
}

.paginationList {
  display: flex;
  gap: 5px;
}

.link {
  height: 30px;
  width: 30px;
  border-radius: 2px;
  background-color: #4465d1;
  color: black !important;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.paginationLink {
  text-decoration: none;
}

.isCurrent {
  color: white;
}
