html {
  touch-action: manipulation;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

:root {
  --sidebar-bg: #ffffff;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.dark-theme {
  --sidebar-bg: #2c3e50;
}
