.layoutContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: "100vh";
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--primary-color);
}
.sidebar {
  width: 18%;
  min-width: 200px;

  border-right: 1px solid #ccc;
  background-color: var(--secondary-color);
}

.mainContent {
  width: 82%;
  display: flex;
  flex-direction: column;
}

.outletContent {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  overflow: hidden;
}
